// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #FF5252;
$green: #32B796;
$gray: #000000;
$light-gray: rgb(235, 235, 235);
$button-gray: rgb(240, 240, 240);
