<h1 class="underline">Your Booking</h1>

<h4>From: <strong><%= @booking.start_date %></strong></h4>
<h4>To <strong><%= @booking.end_date %></strong></h4>


<%= link_to 'Show all', space_bookings_path %>
