.image-cover {
  height: 50vh;
  width: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.image_wide {
  vertical-align: middle;
  width: 100vw;
  height: 40vw;
}
